.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 5em;
}

.menu {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1em;
  list-style-type: none;
}

.link {
  color: #fff;
  text-decoration: none;
}

.link:hover {
  color: orange;
}

.list {
  font-size: 1em;
}

.logo {
  width: 25px;
  height: 25px;
  cursor: pointer;
}

.icon {
  fill: #fff;
  cursor: pointer;
}

.icon:hover {
  fill: orange;
}

.right {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.logIn {
  cursor: pointer;
  text-decoration: none;
}

.logIn:hover {
  color: orange;
}

.search {
  color: #f1f1f1;
  background: transparent;
  border: 1px solid #424242;
  box-sizing: border-box;
  border-radius: 28px;
  padding: 0.2rem 1rem 0.2rem 1rem;
  outline: none;
}

.listPicture {
  list-style-type: none;
  text-decoration: none;
}
